
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<title>recursos pagina docente</title>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

	<!-- css-->
	<link rel="stylesheet" href="style.css">
	
</head>


<body>

	<div id="site-content">
		<header class="site-header">
			<div class="top-header">
				<div class="container">

				</div> <!-- .contenedor del titulo y el logo -->
			</div> <!-- termina el encabeado que contiene el fondo -->



			<div class="bottom-header">
				<div class="container">
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="">Inicio</a></li>
							<li class="menu-item"><a href="">Recursos</a></li>
							<li class="menu-item"><a href="">Contactos</a></li>
						</ul> <!-- .menu -->
					</div> <!-- div que contiene el menu -->


					<div class="social-links">
						<div class="dropdown">
							<a id="username" class="btn btn-secondary dropdown-toggle" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								<img src="https://cdn-icons-png.flaticon.com/512/25/25634.png" class="img-fluid">
								<?php
                                    echo "$usuario";
                                    ?>
							</a>

							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="cerrarsesion.php">Cerrar seción</a></li>
							</ul>
						</div>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</div>

		</header> <!-- header -->

		<main class="main-content">
			<div class="breadcrumbs">
				<div class="container">
					<a href="index.html">Inicio</a>
					<span>Contactos</span>
				</div>
			</div>

			<div class="page">
					

					<div class="fullwidth-block">
						<div class="container">
							<h2 class="section-title">Equipo de trabajo</h2>

							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="images/anali.jpg" alt=""></figure>
										<h2 class="team-name">Anali Lizbeth Cazar Ruiz</h2>
										<small class="team-title">Estudiante de Pedagogía de las Ciencias Experimentales - Informática</small>
										<small class="team-title">Celular: 0939183356</small>
										<div class="social-link">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="images/mirian.jpg" alt=""></figure>
										<h2 class="team-name">Miriam Andrea Astimbay Fajardo</h2>
										<small class="team-title">Estudiante de Pedagogía de las Ciencias Experimentales - Informática</small>
										<small class="team-title">Celular: 0980456217</small>
										<div class="social-link">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="images/Cristian.jpg" alt=""></figure>
										<h2 class="team-name">Cristian Israel Guachizaca Sarango</h2>
										<small class="team-title">Estudiante de Pedagogía de las Ciencias Experimentales - Informática</small>
										<small class="team-title">Celular: 0988965593</small>
										<div class="social-link">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
							
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="images/emilio.jpg" alt=""></figure>
										<h2 class="team-name">Emilio Efrain Quezada Yunga</h2>
										<small class="team-title">Estudiante de Pedagogía de las Ciencias Experimentales - Informática</small>
										<small class="team-title">Celular: 0959135365</small>
										<div class="social-link">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
							</div> <!-- .row -->
						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->
				</div> <!-- .page -->
			</main>
		<div class="site-footer">


			<div class="bottom-footer">
				<div class="container">
					<nav class="footer-navigation">
						<a href="#">Inicio</a>
						<a href="#">Recursos</a>
						<a href="#">Contactos</a>
					</nav>

					<div class="colophon">6to ciclo</div>
				</div>
			</div>
		</div>
	</div>
	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>

</html>