
    <div id="site-content">
        <header class="site-header">
            <div class="top-header">
                <div class="container">

                </div> <!-- .contenedor del titulo y el logo -->
            </div> <!-- termina el encabeado que contiene el fondo -->
           
        </header>
        <main class="main-content">
            <div class="breadcrumbs">
                <div class="container">
                    <a href="index.html">Ayuda</a>
                    <span>Recuperar Contraseña</span>
                </div>
            </div>
            <div class="fullwidth-block greet-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto cf-container">
                            <form action="/pages/Formulariocc-edit" method="post"  class="cuadro_REA2">
                                <div class="cf-cover">
                                    <div class="session-title row">
                                        <h2>Recuperar contraseña</h2>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-md-12">
                                            <label>Correo Electronico</label>
                                            <input type="text" placeholder="Introduzca el email"
                                            name="email" class="form-control" >
                                        </div>
                                    </div>

                                    <div class="form-row row">
                                        <div class="col-md-6">
                                           <button type="submit" class="btn btn-primary w-100">Continuar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button href='/' class="btn btn-primary w-100">cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="site-footer">
				

            <div class="bottom-footer">
                <div class="container">
                    <nav class="footer-navigation">
                        <a href="#">Inicio</a>
                        <a href="#">Recursos</a>
                        <a href="#">Contactos</a>
                    </nav>

                    <div class="colophon">6to ciclo</div>
                </div>
            </div>
        </div>
    </div>
    